<div class="container">
    <h1>Reset your password (Currently not supported)</h1>
    <form novalidate [formGroup]="formGroup" (submit)="resetPassword()">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" [formControlName]="controlNames.email" placeholder="Email">
            <app-validation-message [control]="formGroup.controls[controlNames.email]"></app-validation-message>
        </div>
        <app-submit-button extraClasses="btn-lg btn-block" [disabled]="!formGroup.valid">
            Send reset email
        </app-submit-button>
    </form>
</div>