<div class="container">
    <h1>Your Account</h1>
    <label>
        Profile Picture
    </label>
    <img class="img-thumbnail img-rounded" *ngIf="(user$ | async)?.photoURL" [src]="(user$ | async)?.photoURL" />
    <p>
        <small *ngIf="!(user$ | async)?.photoURL">No profile picture</small>
        <button class="btn btn-link" (click)="toggleUpdatePhotoUrl()">
            {{(userState$ | async).updatePhotoUrl.showForm ? 'close' : 'edit'}}
        </button>
    </p>
    <account-update-photo-url></account-update-photo-url>
    <label>
        Email Address
    </label>
    <p>
        {{ (user$ | async)?.email }}
        <button class="btn btn-link" (click)="toggleUpdateEmailForm()">
            {{(userState$ | async).updateEmail.showForm ? 'close' : 'edit'}}
        </button>
    </p>
    <account-update-email></account-update-email>
    <label>
        Password
    </label>
    <p>
        <button class="btn btn-link" (click)="toggleUpdatePasswordForm()">
            {{(userState$ | async).updatePassword.showForm ? 'close' : 'edit'}}
        </button>
    </p>
    <account-update-password></account-update-password>
    <label>Email Verified</label>
    <p>{{ (userState$ | async)?.emailVerified ? 'Yes' : 'No' }}</p>
</div>
