<div class="container">
    <h1>Sign Up</h1>
    <form novalidate [formGroup]="formGroup" (submit)="signUp()">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" [formControlName]="controlNames.email" placeholder="Email">
            <app-validation-message [control]="formGroup.controls[controlNames.email]"></app-validation-message>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" [formControlName]="controlNames.password" placeholder="Password">
            <app-validation-message [control]="formGroup.controls[controlNames.password]"></app-validation-message>
        </div>
        <div class="form-group">
            <label for="confirmPssword">Confirm password</label>
            <input type="password" class="form-control" id="password" [formControlName]="controlNames.confirmPassword" placeholder="Confirm Password">
            <app-validation-message [control]="formGroup.controls[controlNames.confirmPassword]"></app-validation-message>
        </div>
        <app-validation-message [control]="formGroup"></app-validation-message>
        <span class="text-danger">{{ (formState$ | async)?.failureMessage }}</span>
        <button class="btn btn-lg btn-block btn-default" [class.disabled]="!formGroup.valid">Sign Up</button>
    </form>
</div>
