<app-modal *ngIf="(formState$ | async)?.showForm" (cancel)="hideLogInModal()">
    <div class="modal-body">
        <app-google-plus-auth-button></app-google-plus-auth-button>
        <hr>
        <form novalidate name="log-in" [formGroup]="formGroup" (onsubmit)="emailPasswordLogin()">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" [formControlName]="controlNames.email" placeholder="Email">
                <app-validation-message [control]="formGroup.controls[controlNames.email]"></app-validation-message>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [formControlName]="controlNames.password" placeholder="Password">
                <app-validation-message [control]="formGroup.controls[controlNames.password]"></app-validation-message>
            </div>
            <div class="form-group">
                <a routerLink="/reset-password">Forgotten your password?</a>
            </div>
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" [formControlName]="controlNames.rememberMe">Remember me
                </label>
            </div>-->
            <button type="submit" class="btn btn-lg btn-block btn-primary"[disabled]="!formGroup.valid" (click)="emailPasswordLogin()">Submit</button>
            <button class="btn btn-lg btn-block btn-link" routerLink="/sign-up">Sign Up</button>
            <p class="text-danger">{{ (formState$ | async).failureMessage }}</p>
        </form>
    </div>
</app-modal>
