<form novalidate [formGroup]="formGroup" (submit)="updatePassword()">
    <div class="form-group">
        <label for="password">Old password</label>
        <input type="password" class="form-control" [formControlName]="controlNames.password" placeholder="Old password">
        <app-validation-message [control]="formGroup.controls[controlNames.password]"></app-validation-message>
    </div>
    <div class="form-group">
        <label for="password">New password</label>
        <input type="password" class="form-control" [formControlName]="controlNames.newPassword" placeholder="New password">
        <app-validation-message [control]="formGroup.controls[controlNames.newPassword]"></app-validation-message>
    </div>
    <div class="form-group">
        <label for="confirmPssword">Confirm new password</label>
        <input type="password" class="form-control" [formControlName]="controlNames.confirmNewPassword" placeholder="Confirm Password">
        <app-validation-message [control]="formGroup.controls[controlNames.confirmNewPassword]"></app-validation-message>
    </div>
    <app-validation-message [control]="formGroup"></app-validation-message>
    <button class="btn btn-lg btn-block btn-default" 
            [class.disabled]="!formGroup.valid || (passwordState$ | async).isRequesting"
            [class.btn-info]="(passwordState$ | async).isRequestingPasswordupdate"
            [class.btn-success]="(passwordState$ | async).successMessage">
            Update Password
    </button>
    <p class="text-success" *ngIf="(passwordState$ | async).successMessage">
        {{(passwordState$ | async).passwordUpdateSuccessMessage}}
    </p>
    <p class="text-danger" *ngIf="(passwordState$ | async).failureMessage">
        {{(passwordState$ | async).passwordUpdateFailureMessage}}
    </p>
</form>
